.singlePost {
  flex: 9;
}

.singlePostWrapper {
  padding: 20px;
  /* padding-right: 0; */
  display: flex;
  flex-direction: column;
}

.singlePostImg {
  width: 100%;
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
}
.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
}

.singlePostTitleIn {
  margin: 10px;
  font-family: "Lora", serif;
  font-size: 28px;
  text-align: center;
  border: none;
  border-bottom: 1px solid lightgray;
}

.singlePostTitleIn:focus {
  outline: none;
}

.singlePostEdit {
  float: right;
  font-size: 25px;
}
.singlePostEdit svg {
  margin-left: 10px;
  cursor: pointer;
}

.singlePostEdit svg:first-child {
  color: teal;
}
.singlePostEdit svg:last-child {
  color: red;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #b39656;
  font-family: "Lato", sans-serif;
}

.singlePostDescription {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescriptionIn {
  border: none;
  color: #666;
  font-size: 18px;
  line-height: 25px;
  height: 50vh;
  resize: none;
}

.singlePostDescriptionIn:focus {
  outline: none;
}

.singPostBtn {
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.singPostBtnArea {
  display: flex;
  justify-content: center;
}
